<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello {{ prenom }}</title>
    <link rel="stylesheet" href="css/lestyle.css"></link>
</head>
<body>
    <p>Bonjour {{ prenom }}, déjà {{ age }} ans</p>
</body>
</html>